<div class="row">        <!-- days 1 and 2 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="4" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/snakemake-novice-bioinformatics/">Introduction to Snakemake</a></td>
        <td>Running commands with Snakemake</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Placeholders and Wildcards</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>Chaining Rules</td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>How Snakemake plans what jobs to run</td>
      </tr>
      <tr>               <!-- row 6   -->
        <td colspan="2" style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="4" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/snakemake-novice-bioinformatics/">Introduction to Snakemake - Cont.</a></td>
        <td>Processing lists of inputs</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Handling awkward programs</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>Configuration workflows</td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>Optimising workflow performance</td>
      </tr>
      <tr>               <!-- row 6   -->
        <td colspan="2" style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 3 -->
  <div class="col-md-6">
    <h3>Day 3 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="4" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/snakemake-novice-bioinformatics/">Introduction to Snakemake</a></td>
        <td>Input functions</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Conda integration</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>Constructing a whole new workflow</td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>Cleaning up</td>
      </tr>
      <tr>               <!-- row 6   -->
        <td colspan="2" style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
